
/*--------------------------------------------------------------
## Custom CSS
--------------------------------------------------------------*/

#closeMenu{
	display: none;
}

#closeMenu.toggled{
	display: block;
}

.small-menu-button{
	display: none;
}

body{
	overflow-x: hidden;
}

.widgets ul{
	margin: 0;
}

a.button, button, input.submit{
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	color: white;
	text-decoration: none;
	padding: 1rem;	
	border-radius: 6px;	
}
a.button:hover, button:hover, input.submit:hover{
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.site-header{
	width: 100vw;
	height: 100%; 
    background: no-repeat top center;
    background-size: cover;

}

.site-header.overlay{
	position: absolute;
	bottom: 0;
	background-attachment: fixed;
}


header.site-header{
	width: 100vw;
	height: 10vh;
	position: relative;
	background: black;
	display:flex;
	
}	

body.home header.site-header{
	height: 61vh;
	//background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.site-branding, .site-title{
	clear: none;
	float: left;
}
.site-branding{
	flex-grow: 2;
}
.site-title{
	font-size: 2.5rem;
	font-family: 'Passion One', cursive;
	text-shadow: 	1px 3px #821457, 
	 				-2px -3px #E4A0AC;
	position: relative;
	margin-top: 1rem;
}

.site-title a{
  	animation: 	blur 30ms infinite, 
				flick 50ms infinite,
				jump 50ms infinite;		
}

nav.main-navigation{
	position: relative;
	right: 0;
}

@keyframes blur {
  0%   { filter: blur(1px); opacity:0.8;}
  50% { filter: blur(1px); opacity:1; }
  100%{ filter: blur(1px); opacity:0.8; }
}
@keyframes flick {
  50% { left:2px; }
  51% { left:0; }
}
@keyframes jump {
  30% { top:10px; }
  31% { top:0; }
}

.site-title a{
	color: white;
	text-decoration: none;
	padding: 1rem;
}

.main-navigation{
	float: right;
	width: auto;
	clear: none;
	padding: 1rem 3rem 1rem 1rem;

}

.main-navigation li{
	display: inline-block;
	padding: 1rem;
}

.main-navigation li a{
	font-family: 'Passion One', cursive;
	font-size: 1.5rem;
	color: white;
}
.main-navigation li a:hover{

}


.masthead.home--masthead{
	background: black;
	height: 40vh;
	text-align: center;
	color: white;
	padding: 1rem 1rem 0 1rem;
}

.masthead.home--masthead p{
	font-size: 2rem;
	margin-top: 0;
}
.masthead.home--masthead a{
	padding: 1rem;
}
.masthead.home--masthead img{
	min-height: 75px;
	margin-bottom: 3rem;
}

.featured-category{
	background: white;
}
.featured-category h2{
	text-align: center;
	color: black;
	font-size: 2.25rem;
	font-style: italic;
}

.featured-category h3 a{
	font-size: 2.75rem;
	text-decoration: none;
}
.featured-category article{
	width: 75%;
	max-width: 1200px;
	margin: 100px auto;
}

.featured-category img{
	float: left;
	margin-right: 2rem;
	max-width: 400px;
}

.featured-category a.button{
	display: block;
	margin: 2rem auto;
	padding: 1rem;
	width: 50%;
	text-align: center;
}

.featured-category .powerpress_links.powerpress_links_mp3{
	display: none;
}

.site-content:not(.home){
	width: 91%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.content-area{
	background: white;
	float: left;
	flex-grow: 3;
	flex-basis: 0;
	padding: 0 5em;
}

.content-area p{
	width: 95%;
	margin: 1em auto;
}
.content-area img.aligncenter, .content-area iframe{
	width: 100%;
	margin: .75em auto;
}

aside.widget-area{		
	flex-grow: 1;	
	flex-basis: 0;
	position: sticky;
	top: 0;
	height: 100%;
	padding: 1.25em;
	background: #ededed;
}

aside.widget-area img{
	max-width: 100%;
}

.home .content-area {
	max-width: 80vw;
	float: none;
	width: auto;
	margin: auto;
}

.home .content-area .flex-wrap{
	display: flex;	
	overflow-x: visible;
	height: auto;
	justify-content: space-between;
}

.home .content-area main{
	flex-grow: 3;	
	flex-basis: 0;
}

.grid-item{	
	max-width: 48%;	
	padding:  1rem;	
	background:  #efefef;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);	
}

.vhs-wrap{
	background: #4c444f;
	color: white;
	text-align: center;
}

footer.entry-footer{
	background: #ededed;
    padding: .5em;
}

.post-navigation{
	padding: 1rem;
}
.post-navigation a {
	color: #4c444f;
    font-size: 1rem;
    font-style: italic;
    text-decoration: none;
}

.tags-links{
	margin: auto;
	width: 75%;
	font-size: .75em;
}

div.info-box{
	width: 100%;
	margin: auto;	
}

div.info-box.podcast-info{
	background: #ededed;	
}

div.info-box ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.single h1.entry-title{
	margin-bottom: 0;
}

div.info-box ul li{
	display: flex;
	flex-grow: 1;		
	font-size: .75em;
	padding: .5em;
	text-align: center;
}

.powerpress_links.powerpress_links_mp3{
	display: none;
}

.entry-title a{
	text-decoration: none;
}


.widget-area ul{
	margin: 0;
}

.widget-title{
	font-size: 1.5rem;
    text-transform: uppercase;
}

._below{
	max-width: 80vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

._below .widget{
	padding: 1rem;
	flex-grow: 1;
    flex-basis: 0;
}

.site-footer{
	clear: both;
	float: left;
	width: 100vw;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
	background-blend-mode: multiply,multiply;
	color: white;
	margin-top: 1em;
}


.site-footer a{
	color: #30cfd0;
}

.site-footer .widgets{ 
	display: flex;
	max-width: 80vw;
	margin: auto;
	justify-content: space-between;
}

.site-footer .widgets .widget{
	padding: 1rem;
	flex-grow: 1;
    flex-basis: 0;
}

.site-info{
	width: 100%;
	text-align: center;
}


/* Buttons and Similar*/
a.button, button, input.submit, button, input[type="button"], input[type="reset"], input[type="submit"], .comments-link{
    font-size: 1.25rem;
    background: #EF3B49;
    outline: 0;
    padding: 1rem 2.5rem;
    color: white;
    border: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wysija-input, .wysija-submit, .wysija-email{
	width: 100%;
}

.comments-link{
	display: none;
}

.comments-link a{
	color: white;
	text-decoration: none;
}


/* Caption Text */
.wp-caption .wp-caption-text{
	font-size: .75em;
}

/********************************

	Responsive business

***********************************/

@media( max-width: 1400px ){
	.grid-item{
		max-width: 100%;
		width: 100%;
	}
	aside.widget-area{
		min-width: 0;
		position: relative;
	}	
	.home .content-area{
		max-width: 95vw;
	}
}

@media( max-width: 1200px ){
	.home .content-area{
		max-width: 100vw;		
	}
	.content-area{
		padding: 0 1em;	
	}
	.site-content:not(.home){
		flex-direction: column;
	}
}


@media( min-width: 1200px){
	.content-area{
		max-width: 77%;
	}
}



@media( max-width: 900px ){
	.site-content:not(.home){
		width: 100%;
	}
	.content-area{
		flex-grow: 2;
	}
	.site-title{
		font-size: 1.5em;
	}
	.masthead.home--masthead{
		height: auto;
		padding-bottom: 1rem;
	}
	.masthead.home--masthead a{
		display: block;
		width: 100%;
	}
	.masthead.home--masthead a img{
		width: 40%;
	}
	button.menu-toggle{
		background: none;
		font-weight: bold;
		text-transform: uppercase;
		font-family: Passion One;
		letter-spacing: 3px;
		font-size: 1em;
		border: 3px solid white;
		border-radius: 6px;
	}

	.site-title a{
		animation: none;		
		text-shadow: none;
	}

	.site-footer .widgets, ._below {
		max-width: 80vw;
		margin: auto;
		flex-direction: column;
	}

	header.site-header{
		z-index: 3;
	}
	
	nav.main-navigation {
    //	right: 80px;
	}

	.main-navigation.toggled ul{
	    position: fixed;	    
	    height: 100vh;
	    width: 100vw;
	    left: 0;
	    top: 0;
	    background: rgba(1,1,1,.85);
	    z-index: 2;
	}
	#closeMenu{
		position: fixed;
		right: 20px;
		top: 20px;
		z-index: 3;
		color: white;
		cursor: pointer;
	    background: none;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-family: Passion One;
	    letter-spacing: 3px;
	    font-size: 1em;
	    border: 3px solid white;
	    border-radius: 6px;
	   	padding: .5em 1em;
	}

	.main-navigation.toggled ul li{
		display: block;
	    padding: 1rem;
	    width: 100%;
	    text-align: center;	    
	}
	.main-navigation.toggled ul li:hover{
		background: rgba(1,1,1,.25);
	}
	.main-navigation.toggled ul li:first-child{
		margin-top: 20%;		
	}

	.home aside.widget-area{
		display: none;
	}
	aside.widget-area img{
		width: 100%;
	}

	.site-info a{
		display: block;
		width: 100%; 
	}
	span.sep{
		display: none;
	}

}

@media( max-height: 700px ){
	.masthead.home--masthead{
		height: auto;
		padding-bottom: 1rem;
	}
}

@media( max-width: 700px ){

	header.site-header{
		height: auto;
	}
	.site-branding, .site-title{
		float: left;
		text-align: center;	
	}
	.site-title{
		position: relative;
		font-size: 1em;
		padding: .5em;
	}
	button.menu-toggle{
		margin: auto;
		float: right;
		font-size: .75em;
		border: none;
		padding: 0;
		box-shadow: none;
	}
	.masthead.home--masthead img{
		margin-bottom: 0;
	}
	.large-menu-button{
		display: none;
	}
	.small-menu-button{
		display: block;
		padding: 1em 0;
	}
	#closeMenu{
		border: 0;		
		top: auto;
		right: 0;
		left: 0;		
		bottom: 0;
		text-align: center;
	}
	.site-title a{
		padding: 0;
		width: 100%;
	}
	nav.main-navigation{
		position: relative;
		float: right;
		display: block;
		width: auto;
	}
	.masthead.home--masthead a img{
		width: 50%;
	}
	aside.widget-area{
		max-width: 100vw;
		padding: 1em;
	}
	.site-footer .widgets, ._below{
		max-width: 100vw;
	}
	.featured-category h3 a{
		font-size: 1.75em;
	}
	.featured-category img{
		max-width: 100%;
	}
}
@media( max-width: 600px ){
	.site-title{
		font-size: .8em;
	}
	button.menu-toggle{
		font-size: .5em;
	}
	div.info-box ul li{
		font-size: .5em;
	}
	.featured-category a.button{
		width: 100%; 
	}
	#closeMenu{
		border: 0;		
		top: 0;
		right: 0;
		left: 0;		
		bottom: auto;
		text-align: center;
	}

	.entry-title{
		font-size: 1em;
	}
}
@media( max-width: 400px ){
	.masthead.home--masthead a img{
		width: 75%;
	}	
}